body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
}

.btn {
  display: flex;
  align-items: center;
  border-radius: 3px;
  padding: 0.25em 1em;
  margin: 0 1em;
  background: transparent;
  color: palevioletred;
  border: 2px solid palevioletred;
}

.btn-primary {
  background: palevioletred;
  color: white;
}
